.destination{
    background-image: linear-gradient(360deg, rgb(31, 73, 31), rgb(2, 2, 58));
    display: flex;
}
.destination img{
    padding: 5%;
    width: 1000px;

}
.search{
    padding: 1%;
    background: lightslategrey;
    margin: 10px;
    border-radius: 10px;
}
.search input{
    width: 300px;
}