.form-div{
    text-align: center;
    background-image: linear-gradient(180deg, lightgray, gray);
    padding: 2%;
}
.form-div h1{
    box-shadow: 30px 30px 40px black;
    height: 50px;
}
.form-field{
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    padding: 2%;
}
.form-field input{
    padding: 2%;
    margin: 1%;
}
.submit{
    text-align: center;
    width: 460px;
}
.google-btn{
    border-radius: 10px;
    margin-right: 30%;
    margin-left: 390px;
    margin-top: 10px;
    margin-bottom: 100px;
    height: 80px;
    width: 450px;
}